/* щоб зробити основним колір для тексту по всьому боді, треба також задати 
змінну: */
* {
  box-sizing: border-box;
}
/*  */
body {
  color: var(--color-main-dark);
  /* і все що має атрібут колор - унаслідує цю змінну */
  /* так само із шрифтом. якщо скрізь один - можна задати тут
  і скрізь буде унаслідован шрифт */
  font-family: "poppins", sans-serif;
  /* так само логічно надати той розмір шрифту що використовується найчастіше
  а решту указивати через класи */
  font-size: 18px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
