@charset "UTF-8";
/* тут вказують селектори до яких надаються стилі. вони є, селектор
тегу
класу
ідентифікатору
атрибуту
нащадка
дитини */
/* h1 { */
/* border: 4px solid black; */
/* описаний вище стиль надає одразу рамки з усіх сторін, ігакше треба писати чотирьма операторами */
/* } */
/* якщо точка попереду то ми звертаємося до класу */
/* .main-title { */
/* color: burlywood; */
/* } */
/* якщо решітка то ми звертаємося до ідентификатору
і ця властивість/стиль надається усім елементам, що вкладені у ідентифікатор сука
АЛЕ ЦЕ НЕ ТИПОВЕ ВИКОРИСТАННЯ
ідентифікатори використовують для внутрішнього переходу по сторінці або  для звернення до ідентифікатору не через стилі,
а через java-script */
/* #chiefs-sec { */
/* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
/* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
/* } */
/* до атрибуту звертаються через квадратні дужки
наприклад атрибут - type у нашої кнопки
тільки у неї є такий атрибут  */
/* [type] { */
/* } */
/* або до конкретних */
/* [type="button"] { */
/* } */
/* але таке використання безглузде, ми роздивляємося тільки варіанти використання звернення.
для чого це можно використати - наприклад є якісь кнопки, які мають атрибут disabled.
тоді ля всіх них буде зручно по ньому звернутися чи надати стиль */
/* .button[disabled] { */
/* } */
/* 
якщо ми звертаємося до наслідуваних елементів, то можемо робити таким чином
що ми вибераєм батьківський елемент а потом вибераємо окремий тег, щоб
надати стиль саме абзацам у даному випадку
 */
/* .main-section > p { */
/* } */
/* НАЙРОСТІШЕ І НАЙРЕКОМЕНДОВАНІШЕ ВИКОРИСТОВУВАТИ СЕЛЕКТОРИ КЛАСІВ */
/*  */
/* далі йдуть псевдокласи
це наведення миші
надання фокусу
та натискання


 */
/* часто прийдеться користуватися переменнимми -змінними
вони вказуються у руті цсс файлу і потім підставляються скрізь
найчастіше це використовується з кольорами , наприклад замість хекс-кольору вписуєтьмя назва
і потім по теексту ставиться. заодно потоім зручно все поміняти в одному місці */
/* коли текст підключається локально, то шрифти прописуються тут
 */
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  /* далі йде оголошення змінної */
  --color-brand: #819b57;
  --color-main-dark: #31261a;
  /* далі по тексту дивимось синтаксис використання: */
}

/* щоб зробити основним колір для тексту по всьому боді, треба також задати 
змінну: */
* {
  box-sizing: border-box;
}

/*  */
body {
  color: var(--color-main-dark);
  /* і все що має атрібут колор - унаслідує цю змінну */
  /* так само із шрифтом. якщо скрізь один - можна задати тут
  і скрізь буде унаслідован шрифт */
  font-family: "poppins", sans-serif;
  /* так само логічно надати той розмір шрифту що використовується найчастіше
  а решту указивати через класи */
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

ul {
  list-style-type: none;
}

/* hero section */
.hero-section {
  padding: 272px 0;
}

.main-title {
  margin-bottom: 0;
  color: #faf4ea;
  font-family: poppins, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 128px;
  /* text-transform:capitalize ; */
}

.main-title .accent {
  /* ось використання змінної */
  color: var(--color-brand);
}

.button {
  font: poppins;
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
}

/* оце нижче - псевдоклас */
.button:hover {
  background-color: #faf4ea;
  color: #465929;
}

/* tradition sec */
.tradition_sec {
  padding-top: 96px;
}

.links {
  color: #faf4ea;
}
.links .links:hover {
  color: #819b57;
}

.advant-list {
  background-color: #819b57;
}

.advant-list li {
  color: #faf4ea;
}

/* для того, щоб задати декількам послідовним тегам якісь параметри і не писати кожному окремо,
можно все огорнути у div та задати клас для опису
наприклад декілька абзаців підряд, щоб не писати одинакове centre/font-size *//*# sourceMappingURL=main.css.map */